h1 {
	font-size:22pt;
	font-weight:bold;
	color:darkcyan;
}

p {
	width:900px;
	margin:20px 0 7px 20px;
	font-family:Arial;	
	font-size:16px;
	color:black;
	background:linen;
}

.table {
	border-collapse: collapse;
}

.table td, th {
	margin:0;	
	border: solid 2px #000099;	
	padding: 15px;
	font-family:Arial;
	font-size:18pt;
	text-align:center;
}

.table th {
	background: #eeeeee;
}

.table td span {
	margin:0;
	border: dotted 1px #000099;	
	padding:0 3px;
	background:cornsilk;
}
