body {
	margin:30px 0 0 30px;
}

.header {
	width:800px;	
	margin:0px 0 30px 0;
}

h1 {
	margin:30px 0 5px 0;
	font-size:22pt;
	font-weight:bold;
	color:darkcyan;
}

h3 {
	margin:0;
	font-size:16pt;
	font-weight:normal;
}

.github-link  {
	width:210px;
	margin:-70px 20px 0 0;
	padding:8px 8px;
	float:right;
	font-size:14pt;
	font-weight:bold;
	color:darkcyan;
	background:#dfefef;
	text-align:center;
	text-decoration:none;
	border:1px solid darkcyan;
	border-radius:5px;

}

p {
	width:800px;
	margin:20px 0 7px 20px;
	font-family:Arial;	
	font-size:16pt;
}

ul li {
	margin:0px 0 0px 20px;
	font-family:Arial;	
	font-size:16pt;
	color:black;
}

.table {
	border-collapse: collapse;
}

.table td, th {
	margin:0;	
	border: solid 2px darkcyan;	
	padding: 15px;
	font-family:Arial;
	font-size:18pt;
	text-align:center;
}

.table th {
	background: #eeeeee;
}

.table td span {
	margin:0;
	border: dotted 1px #000099;	
	padding:0 3px;
	background:cornsilk;
}
