/*
 * Edi-Table
 * Excel-like UI for table-based web documents
 *
 * Widget - BLUR - Saving
 * v. 0.1.0
 */

body {
    margin: 20px;
}

h1 {
    font-size:22pt;
    font-weight:bold;
    color:darkcyan;
}

.table {
    border-collapse: collapse;
    border-spacing: 0px;
}

.table td, th {
    margin:0;
    border: solid 2px darkcyan;
    padding: 15px;
    font-family:Arial;
    font-size:18pt;
    text-align:center;
}

.table th {
    background: #eeeeee;
}

.table td input {
    width:150px;
    margin:0;
    border: dotted 1px #000099;
    padding:0 3px;
    background:cornsilk;
    font-family:Arial;
    font-size:18pt;
    text-align:center;
}

.table td input[disabled] {
    width:150px;
    margin:0;
    border: none;
    padding:0 3px;
    background:white;
    color:black;
    font-family:Arial;
    font-size:18pt;
    text-align:center;
}

.table td span {
    margin:0;
    border: dotted 1px #000099;
    padding:0 3px;
    background:cornsilk;
}

.editable-cell-77 {
}

td.not-editable {
    background:#f3f3f3;
}

td.add-new-row {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
td.add-new-row img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
td.delete-row {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
td.delete-row img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

img.saving-in-progress {
    margin:0 0 -6px 20px;
    width: 36px;
    height: 36px;
    display:none;
}

/* Color names:  http://www.w3schools.com/cssref/css_colornames.asp  */
/* Loading GIF generator: http://www.ajaxload.info */

p.dblclk {
    width:900px;
    margin:20px 0 7px 0;
    border:solid 2px coral;
    padding-left:15px;
    overflow: hidden;
    font-size:1.7em;
    font-weight:normal;
    color:black;
    background:linen;
}
p.small {
    margin:0px 0 30px 0;
    border:2px solid silver;
    font-size:1.2em;
    font-weight:normal;
    color:black;
    background:cornsilk;
}
