/*
 * Edi-Table
 * Angular-based branch
 * v. 0.1.0
 */

body {
    margin: 20px;
}

h1 {
    font-size:22pt;
    font-weight:bold;
    color:darkcyan;
}

.parameters {
    margin:0 0 20px 0;
    font-family:Arial;
    font-size:18pt;
}
input.param-input {
    width:60px;
    border: solid 2px darkcyan;
    border-radius:5px;
    padding:0 5px;
    font-size:14pt;
    background:cornsilk;
    text-align:center;
}
.no-sorting {
    text-decoration:none;
    font-style:normal;
    font-weight:bold;
    color:red;
}

.table {
    border-collapse: collapse;
    border-spacing: 0px;
}

.table td, th {
    margin:0;
    border: solid 2px darkcyan;
    padding: 15px;
    font-family:Arial;
    font-size:18pt;
    text-align:center;
}
.table th {
    background: #eeeeee;
}
.table th a {
    color:darkcyan;
}

.table td input {
    width:150px;
    margin:0;
    border: dotted 1px #000099;
    padding:0 3px;
    background:cornsilk;
    font-family:Arial;
    font-size:18pt;
    text-align:center;
}
.table td input[disabled] {
    width:150px;
    margin:0;
    border:none 0px white;
    padding:0 0px;
    background:white;
    color:black;
    font-family:Arial;
    font-size:18pt;
    text-align:center;
}
.table td input[readonly] {
    width:150px;
    margin:0;
    border:none 0px white;
    padding:0 0px;
    background:white;
    color:black;
    font-family:Arial;
    font-size:18pt;
    text-align:center;
}

td.not-editable {
    background:#f3f3f3;
}

td.add-new-row {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
td.add-new-row img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
td.delete-row {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
td.delete-row img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

img.saving-in-progress {
    margin:0 0 -6px 20px;
    width: 36px;
    height: 36px;
    display:none;
}

/* Color names:  http://www.w3schools.com/cssref/css_colornames.asp  */
/* Loading GIF generator: http://www.ajaxload.info */

.dblclk {
    width:900px;
    margin:20px 0 7px 0;
    border:solid 2px coral;
    padding-left:15px;
    overflow: hidden;
    font-size:1.7em;
    font-weight:normal;
    color:black;
    background:linen;
}
.small {
    margin:0px 0 20px 0;
    border:2px solid silver;
    font-size:1.25em;
    font-weight:normal;
    font-family:Arial,Verdana;
    color:black;
    background:cornsilk;
}
