<!--
 * Edi-Table
 * Angular-based branch
 * v. 0.1.0
-->
<!DOCTYPE html>
<html lang="en" ng-app="ediTables73">
  <head>
    <meta charset="utf-8">
    <title>Editable Table | Ang </title>
    <meta content="">
    <link href="app.css" rel="stylesheet" type="text/css">
    <script src="../vendors/ang/angular1-3-12.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="TableController as ctrl">

    <p id="proba" class="dblclk">Angular</p>
    <div class="dblclk small">Редактирование:
	    <ul>
			<li><em>DblClick</em> &mdash; начать редактирование ячейки</li>
			<li><em>Click</em> вне активной ячейки &mdash; закончить редактирование</li>
			<li><em>Tab, Shift-Tab</em> &mdash; перемещение по таблице</li>
			<li><em>Enter</em> &mdash; вход и выход в режим / из режима редактирования в данной ячейке</li>
			<li><em>Esc</em> &mdash; выход из редактирования</li>
	    </ul>
    </div>

    <h1>Table 1<img src="img/saving.gif" alt="Saving data" title="Saving data" class="saving-in-progress"></h1>

    <div class="parameters">
        <label>Число строк на странице:
            <input type="number" class="param-input" min="1" max="100" ng-model="ctrl.rowsOnPage" ng-change="ctrl.calcMaxPage()">
        </label>
        <label style="margin-left:20px;"> Номер страницы:
            <input type="number" class="param-input" min="1" max={{ctrl.maxPage}} ng-model="ctrl.pageNumber">
        </label>
        <span style="margin-left:40px;">Отменить сортировку: <a href="" class="no-sorting" ng-click="ctrl.sortBy='' ">&#10005;</a></span>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th><a href="" ng-click="ctrl.sortBy='tdArray[0].text'; reverse=!reverse;">N</a></th>
                <th><a href="" ng-click="ctrl.sortBy='tdArray[1].text'; reverse=!reverse;">Name</a></th>
                <th><a href="" ng-click="ctrl.sortBy='tdArray[2].text'; reverse=!reverse;">Region</a></th>
                <th><a href="" ng-click="ctrl.sortBy='tdArray[3].text'; reverse=!reverse;">Start Date</a></th>
                <th><a href="" ng-click="ctrl.sortBy='tdArray[4].text'; reverse=!reverse;">Responsible</a></th>
                <th><a href="" ng-click="ctrl.sortBy='tdArray[5].text'; reverse=!reverse;">Status</a></th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr id={{row.id}} class="row_on_click" ng-repeat="row in ctrl.rows | orderBy : ctrl.sortBy : reverse | limitTo : (ctrl.rowsOnPage*ctrl.pageNumber) | filter : ctrl.paginate">
                <td class="col_id_id" ng-dblclick="yes0=!yes0"><input type="text" ng-model="row.tdArray[0].text" ng-init="yes0=true" ng-readonly="yes0" ng-blur="yes0=true" ng-keydown="yes0=ctrl.checkKey( $event, yes0 )"></td>
                <td class="col_id_name" ng-dblclick="yes1=!yes1"><input type="text" ng-model="row.tdArray[1].text" ng-init="yes1=true" ng-readonly="yes1" ng-blur="yes1=true" ng-keydown="yes1=ctrl.checkKey( $event, yes1 )"></td>
                <td class="col_id_regeon" ng-dblclick="yes2=!yes2"><input type="text" ng-model="row.tdArray[2].text" ng-init="yes2=true" ng-readonly="yes2" ng-blur="yes2=true" ng-keydown="yes2=ctrl.checkKey( $event, yes2 )"></td>
                <td class="col_id_start_date" ng-dblclick="yes3=!yes3"><input type="text" ng-model="row.tdArray[3].text" ng-init="yes3=true" ng-readonly="yes3" ng-blur="yes3=true" ng-keydown="yes3=ctrl.checkKey( $event, yes3 )"></td>
                <td class="col_id_responsible" ng-dblclick="yes4=!yes4"><input type="text" ng-model="row.tdArray[4].text" ng-init="yes4=true" ng-readonly="yes4" ng-blur="yes4=true" ng-keydown="yes4=ctrl.checkKey( $event, yes4 )"></td>
                <td class="col_id_status" ng-dblclick="yes5=!yes5"><input type="text" ng-model="row.tdArray[5].text" ng-init="yes5=true" ng-readonly="yes5" ng-blur="yes5=true" ng-keydown="yes5=ctrl.checkKey( $event, yes5 )"></td>
<!--                <td class="col_id_id" ng-bind="row.tdArray[0].text"></td> -->
                <td class="add-new-row" ng-click="ctrl.addRow( row.id )"><img src="img/plus.png" alt="Add a new row" title="Добавить новую строку после данной"></td>
                <td class="delete-row" ng-click="ctrl.deleteRow( row.id )"><img src="img/delete.png" alt="Delete this row" title="Удалить данную строку"></td>
            </tr>
        </tbody>
    </table>

  </body>
</html>
